$small-breakpoint: 576px;
$medium-breakpoint: 768px;
$large-breakpoint: 992px;
$xlarge-breakpoint: 1200px;
$xxlarge-breakpoint: 1400px;
$hover-color: #AAAAAA;
$grey-bg: #F0EFE9;
$white-bg: #FFFFFF;
$black-bg: #0E1021;
$yellow-bg: #EDCF86;
$black-font-color: #191919;
$dark-grey-font-color: #5E5E5E;
$grey-font-color: #B6B6BC;
$white-font-color: #FFFFFF;
$grey-border: 2px solid #DAD9D3;