.article-section {
  background-color: #FFFFFF;
}

.article-section-wrp {
  padding: 0;
}
@media (min-width: 992px) {
  .article-section-wrp {
    grid-template-columns: 9fr 5fr;
    display: grid;
    -moz-column-gap: 141px;
         column-gap: 141px;
    row-gap: 73px;
    grid-template-areas: "heading ." "content sidebar";
  }
}
.article-section-wrp .article-heading {
  grid-area: heading;
}
.article-section-wrp .article-heading h2 {
  padding-top: 50px;
  max-width: 95vw;
  margin: 0 10px;
}
@media (min-width: 1200px) {
  .article-section-wrp .article-heading h2 {
    padding-top: 123px;
  }
}
@media (min-width: 576px) {
  .article-section-wrp .article-heading h2 {
    margin: 0;
  }
}
.article-section-wrp .article-heading .article-byline {
  display: flex;
  justify-content: flex-start;
  gap: 24px;
  margin: 28px 0 0 0;
}
.article-section-wrp .article-heading .article-byline p {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #191919;
}
.article-section-wrp .article-heading .article-byline i {
  color: #f9d783;
  align-self: center;
  font-size: 9px;
}
.article-section-wrp .article-content {
  grid-area: content;
  max-width: 95vw;
  margin: 0 10px;
}
.article-section-wrp .article-content img {
  width: 100%;
}
@media (min-width: 576px) {
  .article-section-wrp .article-content {
    margin: 0;
  }
}
.article-section-wrp .article-content img {
  margin-bottom: 36px;
}
.article-section-wrp .article-content p {
  margin-bottom: 30px;
  line-height: 28px;
}
.article-section-wrp .article-content .quote {
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 22px;
}
.article-section-wrp .article-content .quote p {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 22px;
  font-style: italic;
  color: #191919;
  line-height: 36px;
}
.article-section-wrp .article-content .article-category-buttons {
  display: flex;
  margin-top: 40px;
  padding-bottom: 65px;
}
.article-section-wrp .article-content .article-category-buttons .article-category-button {
  height: 40px;
  border-radius: 20px;
  background-color: #F0EFE9;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
}
.article-section-wrp .article-sidebar {
  display: none;
  grid-area: sidebar;
}
@media (min-width: 992px) {
  .article-section-wrp .article-sidebar {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
.article-section-wrp .article-sidebar h6 {
  margin-bottom: 25px;
}
.article-section-wrp .article-sidebar h6 span {
  border-bottom: 2px solid #191919;
}
.article-section-wrp .article-sidebar .article-searchbox {
  position: relative;
}
.article-section-wrp .article-sidebar .article-searchbox input {
  background-color: #f3f3f3;
  height: 56px;
  width: 100%;
  padding: 0 62px;
}
.article-section-wrp .article-sidebar .article-searchbox button {
  background-color: transparent;
  border: none;
  color: #191919;
  position: absolute;
  left: 30px;
  top: 16px;
}
.article-section-wrp .article-sidebar .recent-posts-box {
  border: 1px solid #d1d1d1;
  padding: 45px 40px;
}
.article-section-wrp .article-sidebar .recent-posts-box a {
  text-decoration: none;
}
.article-section-wrp .article-sidebar .recent-posts-box a .headline-title {
  color: #191919;
  transition: color 0.25S;
}
.article-section-wrp .article-sidebar .recent-posts-box a:hover .headline-title {
  color: #B6B6BC;
}
.article-section-wrp .article-sidebar .recent-posts-box a p {
  border-bottom: 1px solid #e7e7e7;
  padding: 5px 0 11px 0;
  margin-bottom: 17px;
  font-size: 14px;
  font-weight: 400;
}
.article-section-wrp .article-sidebar .recent-posts-box a .last-headline {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.article-section-wrp .article-sidebar .article-categories-box {
  border: 1px solid #d1d1d1;
  padding: 45px 40px;
}
.article-section-wrp .article-sidebar .article-categories-box a {
  display: block;
  text-decoration: none;
  color: #191919;
  font-family: "DM Sans", sans-serif;
  line-height: 32px;
  font-weight: 700;
}
.article-section-wrp .article-sidebar .article-categories-box a:hover {
  color: #B6B6BC;
}
.article-section-wrp .article-sidebar .article-categories-box a span {
  color: #757575;
}