.news-card {
  color: inherit;
  text-decoration: none;
  min-height: 436px;
  position: relative;
}
.news-card:hover .article-intro, .news-card:hover .article-heading {
  color: #AAAAAA;
}
.news-card:hover .datebox {
  background-color: #0E1021;
}
.news-card:hover .datebox p, .news-card:hover .datebox h6 {
  color: #FFFFFF;
}
.news-card .article-heading {
  margin-bottom: 18px;
}
.news-card .article-intro {
  line-height: 28px;
}
.news-card .article-intro, .news-card .article-heading {
  transition: color 0.2s;
}
.news-card .image-container {
  overflow: hidden;
  width: min(420px, 100%);
  height: 230px;
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}
.news-card .image-container img {
  width: 100%;
}
.news-card .datebox {
  width: 56px;
  height: 64px;
  background-color: #F9D783;
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}
.news-card .datebox h6 {
  margin-bottom: -5px;
  margin-top: 21px;
}
.news-card .datebox h6, .news-card .datebox p {
  transition: color 0.2s ease-in-out;
}